---
import DashboardLayout from "@layouts/DashboardLayout.astro";
import Bill from "@components/billing/Bill.astro";
const title = "Facturación - StockManager";
const name = "Facturación";
---

<DashboardLayout title={title} name={name}>
    <h2
        class="text-2xl font-semibold text-center dark:text-white text-orange-500"
    >
        Facturación
    </h2>
    <p class="text-center text-gray-500 dark:text-neutral-400">
        Aqui puedes gestionar tus facturas
    </p>
    <Bill />
</DashboardLayout>