---
import DashboardLayout from "@layouts/DashboardLayout.astro";
const title = "Categorias - StockManager";
---

<DashboardLayout title={title}>
    <h2
        class="text-2xl font-semibold text-center dark:text-white text-orange-500"
    >
        Categorias
    </h2>
    <p class="text-center text-gray-500 dark:text-neutral-400">
        Aqui puedes gestionar tus categorias
    </p>
</DashboardLayout>
