---
import DashboardLayout from "@layouts/DashboardLayout.astro";
const title = "Documentos - StockManager";
const name = "Documentos";
---

<DashboardLayout title={title} name={name}>
    <h2
        class="text-2xl font-semibold text-center dark:text-white text-orange-500"
    >
        Documentos
    </h2>
    <p class="text-center text-gray-500 dark:text-neutral-400">
        Aqui puedes gestionar tus documentos
    </p>
</DashboardLayout>